@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  src: url('../static/fonts/Lato-Regular.ttf') format('truetype');
}

.header-div {
  background-image: linear-gradient(to right, #319795 , #3182CE);
  height: 5px;
}

.login-color {
  color: #319795;
  font-family: Lato
}

.bg-agree-color {
  background-image: linear-gradient(to bottom, #EBF4FF, #E6FFFA);
  position: relative;
  font-family: Lato
}

.bg-agreement {
  background-image: url('../static/undraw_agreement_aajr.png');
  font-family: Lato
}

.register-div-mt {
  margin-top: -35px;
  box-shadow: 0px -1px 3px #00000033;
  position: relative;
  font-family: Lato
}

.register-color {
  color: #E6FFFA;
  font-family: Lato
}

.register-div-back {
  background-image: linear-gradient(to right, #319795 , #3182CE);
  font-family: Lato
}

/* Tab */
.active-tab {
  color: #E6FFFA;
  background-color: #81E6D9;
  border: 1px solid #81E6D9;
  font-family: Lato
}

.inactive-tab {
  color: #319795;
  background-color: #FFFFFF;
  border: 1px solid #CBD5E0;
  font-family: Lato
}

.title-tab {
  color: #4A5568;
  font-family: Lato
}

.sub-title {
  color: #718096;
  font-family: Lato
}

.bg-2 {
  background-image: url('../static/2.png');
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 55px;
  z-index: 2;
  position: relative;
}

.bg-3 {
  background-image: url('../static/3.png');
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 1;
  position: relative;
}
