<!-- Please remove this file from your project -->
<template>
  <div class="items-top min-h-screen bg-gray-100 sm:items-center sm:pt-0">
    <div class="w-full header-div"></div>
    <div
      class="
        p-6
        w-full
        mx-auto
        bg-white
        rounded-b-xl
        shadow-lg
        flex
        justify-end
        items-center
      "
    >
      <div>
        <p class="text-sm login-color">Login</p>
      </div>
    </div>

    <div class="w-full bg-agree-color">
      <div class="text-center mt-4 mb-4">
        <p class="text-4xl font-semibold">Deine Job</p>
        <p class="text-4xl font-semibold">Website</p>
      </div>
      <img class="w-full" src="../static/undraw_agreement_aajr.png" />
    </div>

    <div
      class="
        z-10
        p-5
        w-full
        mx-auto
        bg-white
        rounded-t-xl
        flex
        justify-end
        items-center
        register-div-mt
      "
    >
      <div class="p-3 w-full mx-auto rounded-xl register-div-back">
        <p class="text-sm text-center register-color">Kostenlos Registrieren</p>
      </div>
    </div>

    <Tab />

  </div>
</template>

<style scoped src="./custom.css"></style>

<script>
import Tab from './Tab.vue';

export default {
  name: "Main",
};
</script>
