<template>
  <div class="w-full bg-white text-center">
    <ul class="flex mb-0 mx-auto list-none flex-nowrap pt-10 pb-4 px-6 flex-row max-w-md overflow-hidden tab-btn-group">
      <li class="-mb-px last:mr-0 flex-auto text-center">
        <a
          class="
            text-xs
            font-bold
            px-5
            py-3
            rounded-l-xl
            block
            leading-normal
            tracking-wide
          "
          v-on:click="toggleTabs(1)"
          v-bind:class="{
            'inactive-tab': openTab !== 1,
            'active-tab': openTab === 1,
          }"
        >
          Arbeitnehmer
        </a>
      </li>
      <li class="-mb-px last:mr-0 flex-auto text-center">
        <a
          class="
            text-xs
            font-bold
            px-5
            py-3
            block
            leading-normal
            tracking-wide
          "
          v-on:click="toggleTabs(2)"
          v-bind:class="{
            'inactive-tab': openTab !== 2,
            'active-tab': openTab === 2,
          }"
        >
          Arbeitgeber
        </a>
      </li>
      <li class="-mb-px last:mr-0 flex-auto text-center">
        <a
          class="
            text-xs
            font-bold
            px-5
            py-3
            rounded-r-xl
            block
            leading-normal
            tracking-wide
          "
          v-on:click="toggleTabs(3)"
          v-bind:class="{
            'inactive-tab': openTab !== 3,
            'active-tab': openTab === 3,
          }"
        >
          Temporärbüro
        </a>
      </li>
    </ul>
    <div
      class="
        relative
        flex flex-col
        min-w-0
        break-words
        bg-white
        w-full
        mb-6
        shadow-lg
        rounded
        overflow-hidden
      "
    >
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div v-bind:class="{ hidden: openTab !== 1, block: openTab === 1 }">
            <div class="px-5 pb-20 flex flex-col">
              <p
                class="
                  text-2xl
                  px-4
                  font-semibold
                  text-center
                  title-tab
                "
              >
                Drei einfache Schritte zu deinem neuen Job
              </p>
              <div class="flex flex-row justify-center mt-3">
                <img
                  src="../static/undraw_Profile_data_re_v81r.png"
                  class="mt-3 w-7/12"
                />
              </div>
              <div class="flex flex-row items-end">
                <p class="text-9xl sub-title">1.</p>
                <p class="text-base pb-2 pl-3 sub-title">
                  Erstellen dein Lebenslauf
                </p>
              </div>

              <div class="bg-2">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-6">2.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Erstellen dein Lebenslauf
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_task_31wc.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>

              <div class="bg-3">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-12">3.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Mit nur einem Klick bewerben
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_personal_file_222m.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>
            </div>
          </div>

          <div v-bind:class="{ hidden: openTab !== 2, block: openTab === 2 }">
            <div class="px-5 pb-20 flex flex-col">
              <p
                class="
                  text-2xl
                  px-4
                  font-semibold
                  text-center
                  title-tab
                "
              >
                Drei einfache Schritte zu deinem neuen Mitarbeiter
              </p>
              <div class="flex flex-row justify-center mt-3">
                <img
                  src="../static/undraw_Profile_data_re_v81r.png"
                  class="mt-3 w-7/12"
                />
              </div>
              <div class="flex flex-row items-end">
                <p class="text-9xl sub-title">1.</p>
                <p class="text-base pb-2 pl-3 sub-title">
                  Erstellen dein Unternehmensprofil
                </p>
              </div>

              <div class="bg-2">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-6">2.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Erstellen ein Jobinserat
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_about_me_wa29.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>

              <div class="bg-3">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-12">3.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Wähle deinen neuen Mitarbeiter aus
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_swipe_profiles1_i6mr.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>
            </div>
          </div>

          <div v-bind:class="{ hidden: openTab !== 3, block: openTab === 3 }">
            <div class="px-5 pb-20 flex flex-col">
              <p
                class="
                  text-2xl
                  px-4
                  font-semibold
                  text-center
                  title-tab
                "
              >
                Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
              </p>
              <div class="flex flex-row justify-center mt-3">
                <img
                  src="../static/undraw_Profile_data_re_v81r.png"
                  class="mt-3 w-7/12"
                />
              </div>
              <div class="flex flex-row items-end">
                <p class="text-9xl sub-title">1.</p>
                <p class="text-base pb-2 pl-3 sub-title">
                  Erstellen dein Unternehmensprofil
                </p>
              </div>

              <div class="bg-2">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-6">2.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Erhalte Vermittlungs- angebot von Arbeitgeber
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_job_offers_kw5d.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>

              <div class="bg-3">
                <div class="flex flex-row items-end">
                  <p class="text-9xl sub-title pl-12">3.</p>
                  <p class="text-base pb-2 pl-3 sub-title">
                    Vermittlung nach Provision oder Stundenlohn
                  </p>
                </div>
                <div class="flex flex-row justify-center">
                  <img
                    src="../static/undraw_business_deal_cpi9.png"
                    class="mt-3 w-7/12"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped src="./custom.css"></style>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Tab",
  data() {
    return {
      openTab: 1,
    };
  },
  methods: {
    toggleTabs: function (tabNumber: number) {
      this.openTab = tabNumber;
      var tabdom = this.$el.querySelector('.tab-btn-group');
      var outWidVal = (tabdom?.scrollWidth === undefined ? 0 : tabdom?.scrollWidth - window.innerWidth) > 0 ? (tabdom?.scrollWidth === undefined ? 0 : tabdom?.scrollWidth - window.innerWidth) : 0;
      switch (tabNumber) {
        case 1:
          tabdom?.scrollTo(0, 0);
          break;
        case 2:
          tabdom?.scrollTo(outWidVal / 2, 0);
          break;
        case 3:
          tabdom?.scrollTo(outWidVal + 100, 0);
          break;
      }
    },
  },
});
</script>
